.cabecalho{
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    justify-content: space-around;
}
.menu{
    display: flex;
    list-style: none;
}
.menu__lista{
    margin-right: 20px;
}
.logo{
    width: 9%; /* Largura */
    height: 9%; /* Altura */
}